.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin:auto;
  margin-top: 50px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;

  h1 {
    text-align: center;
    font-size: 1.8em;
  }

  input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  }

  .loginmodal-submit {
    background-color: #4d90fe;
    border: 0px;
    color: #fff;
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 15px 0px;
    position: relative;
    text-shadow: 0 1px rgba(0,0,0,0.1); 
    width: 100%;
  }

  .loginmodal-submit:hover {
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
  }

  a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
  } 

  .login-error { color: #de2727;}
}

.navbar {
  .navbar-login {
      width: 305px;
      padding: 10px;
      padding-bottom: 0px;
  }

  .navbar-login-session {
      padding: 10px;
      padding-bottom: 0px;
      padding-top: 0px;
  }

  .icon-size {
      font-size: 87px;
  }
  a.active { background: #e7e7e7; }
}

.pointer { cursor: pointer; }

.all-appliances {
  border: 1px solid #ccc;
  border-radius: 3px;
  max-height: 400px;
  overflow: auto;
  padding: 10px;
}

.appliance-container {
  border: 1px solid #ccc;
  border-radius: 3px;
  float: left;
  margin: 5px;
  padding: 5px;
  width: 268px;
  
  .appliance-name, .appliance-location {
    font-size: 12px;
    color: #666;
  }
}

.img-appliance-container {
    background: #c7c7c7;
    border-radius: 3px;
    float: left;
    height: 80px;
    margin-bottom: 10px;
    margin-right: 10px;
    position: relative;
    width: 120px;
  }
  .img-appliance {
    border-radius: 0;
    height: auto;
    left: 50%;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
  }