<!DOCTYPE html>
<html ng-app="haa">
<head>
	<title>HAA - Home Appliances Automation</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<script src="/public/dist/main.bundle.js" charset="UTF-8"></script>
</head>
<body>
	<div>
		<ui-view></ui-view>
	</div>
</body>
</html>